*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 2px solid green; */
}



.home-container {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.line {
    background-color: var(--textColor);
    flex-grow: 1;
    height: 3px;
    max-width: 600px;
}

.main-title {
    padding: 0 1rem;
    /* font-weight: bold; */
    font-size: 30px;
    color: var(--textColor);
    text-align: center;
    white-space: nowrap;
}

.list-container {
    /* padding-left: 10%;
    padding-right: 10%; */
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    /* outline: 2px solid green; */
}

.list-item {
    border-radius: 1rem;
    box-shadow: 0px 2px 8px 0px var(--shadowColor);
    /* outline: 2px solid green; */
    max-height: 400px;
    overflow: hidden;
    transition: 0.3s;
}

.list-item:hover {
    outline: 2px solid var(--secondaryColor);
    transition: 0.3s;
}

.list-item:hover > a > .game-img {
    transform: scale(1.05);
    transition: 0.3s;
}

.game-img {
    border-radius: 1rem;
    max-height: 400px;
    transition: 0.3s;
}

.game-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 100px;
    margin-top: 5rem;
    margin-bottom: 5rem;

    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 1.8px;
    text-decoration: none;

    border: solid 1px var(--mainColorLight);
    background: none;
    
    position: relative;
    color: var(--textColor);
    /* background-color: var(--btnColor); */
    padding: 1rem;
    transition: all 0.25s ease;
    outline: none;
}

.game-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 60px;
    height: 1px;
    transform: translateY(-1px);
    background: rgba(0, 214, 252, 1);
    transition: all 0.25s ease;
}
.game-button:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 60px;
    height: 1px;
    transform: translateY(1px);
    background: rgba(0, 214, 252, 1);
    transition: all 0.25s ease;
}

.game-button svg {
    margin-left: 8px;
}

.game-button:hover {
    /* background-color: var(--btnHoverColor); */
    /* transition: 0.3s; */
    cursor: pointer;
    box-shadow: 1px 1px 8px var(--secondaryColor);
}

.game-button:hover:before {
    left: 0;
    width: 20px;
}

.game-button:hover:after {
    right: 0;
    width: 20px;
}

.game-button:hover .game-button-line:before {
    bottom: 0;
}

.game-button:hover .game-button-line:after {
    top: 0;
}

.game-button-line:before {
    content: "";
    position: absolute;
    bottom: 30%;
    right: 0;
    width: 1px;
    height: 20px;
    transform: translateX(1px);
    background: rgba(0, 214, 252, 1);
    transition: all 0.25s ease;
}

.game-button-line:after {
    content: "";
    position: absolute;
    top: 30%;
    left: 0;
    width: 1px;
    height: 20px;
    transform: translateX(-1px);
    background: rgba(0, 214, 252, 1);
    transition: all 0.25s ease;
}

@media screen and (max-width: 800px) {
    #slider {
        display: none;
    }
}