:root{
    --mainColor: #000F08;
    --mainColorLight: #6A6B83;
    --secondaryColor: #86BBBD;
    --btnColor: #d9e626;
    --btnHoverColor: #1c115e;
    --textColor: #eee;
    --clr-gray:#37474f;
    --backgroundColor: #24262b;
    --footerColor: #6c6f79;
}

.main {
    padding-top: 100px;
}

.flex-wrapper {
    display: flex;
    min-height: 150vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--backgroundColor);
    width: 100%;
    /* height: 100vh; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/background.webp);
    background-position: center;
    background-size: cover; 
}